@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode */
    --background: #fdfbf7;
    --card: #ffffff;
    --text: #2d2d2d;
  }

  .dark {
    /* Dark Mode */
    --background: #1a1a1a;
    --card: #262626;
    --text: #ffffff;
  }

  body {
    @apply bg-background text-text antialiased font-sans transition-colors duration-300;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#e2b13c] rounded-full;
}